# macOS
.DS_Store

# Xcode user-specific state
xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.xccheckout

# Xcode build output
build/
DerivedData/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/

# Xcode (other)
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
timeline.xctimeline
playground.xcworkspace